{% load static %}<!DOCTYPE html>
<html lang="en-au">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="AUTHOR" content="Stephen Hayes">
		<title>{% block titlecontent %}{% endblock %} - Accessible Portfolio</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css">
		<script src="/static/scripts.js"></script>
		<link rel="stylesheet" href="/static/style.css" type="text/css">
	</head>

	<body {% block scriptcontent %}{% endblock %}>
		<div class="container">
			<header>
				<h1>Accessible Portfolio</h1>
				<nav class="navbar">
					<ul class="nav navbar-nav">
						<li class="nav-item">
							<a class="nav-link" accesskey="h" href="{%url 'Home' %}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" accesskey="e" href="{%url 'Education' %}">Education</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" accesskey="m" href="{%url 'Employment' %}">Employment</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" accesskey="s" href="{%url 'Skills' %}">Skills</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" accesskey="r" href="{%url 'References' %}">References</a>
						</li>
					</ul>
				</nav>
			</header>

			<main>
				<a href="{%url 'View' %}" target="_blank" style="margin-left:auto;margin-right:auto">View Portfolio</a>
				{% block maincontent %}{% endblock %}
			</main>

			<footer>&copy; Stephen Hayes.</footer>
		</div>
	</body>
</html>